.dummy-logo-icon1 {
  height: 64px;
  width: 45.2px;
  position: relative;
}
.home1 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 45px;
}
.home-cart-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.cart01,
.shop3 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.shop3 {
  text-decoration: underline;
  font-family: var(--font-poppins);
  background: linear-gradient(131.74deg, #f97f51, #092c4c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  min-width: 41px;
}
.cart01 {
  text-decoration: none;
  color: inherit;
  min-width: 55px;
}
.home-cart-content1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.home-cart-content-parent {
  width: 291px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-div {
  width: 462.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-lgi);
  box-sizing: border-box;
  max-width: 100%;
}
.ellipse-icon {
  height: 50px;
  width: 50px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.ellipse-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs-5);
}
.dummy-logo-parent {
  align-self: stretch;
  background-color: var(--mono-grey1);
  border-bottom: 0.5px solid var(--linear-cart);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-2xl) var(--padding-158xl) var(--padding-lgi)
    var(--padding-111xl);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--egator-text-heading-7-bold-size);
  color: var(--black-);
  font-family: var(--heading-h1);
}
@media screen and (max-width: 825px) {
  .home-cart-content-parent {
    display: none;
  }
  .frame-div {
    width: 171.2px;
  }
  .dummy-logo-parent {
    padding-left: var(--padding-46xl);
    padding-right: var(--padding-69xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .dummy-logo-parent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
