.rectangle {
  width: 1512px;
  height: 408px;
  position: relative;
  background-color: var(--color-darkslategray-100);
  display: none;
  max-width: 100%;
}
.dummy-logo-icon3 {
  height: 64px;
  width: 45.2px;
  position: relative;
}
.tagline {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.3px;
  line-height: 48px;
  font-weight: 700;
  font-family: inherit;
}
.company1,
.tagline-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.company1 {
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-sm);
  cursor: pointer;
  z-index: 1;
}
.list {
  position: relative;
  letter-spacing: 0.3px;
  line-height: 24px;
}
.vuesaxlineararrow-up-icon {
  height: 15px;
  width: 15px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 7.5px);
  right: 0;
  object-fit: contain;
}
.list-one-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini) 0 0;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.list1,
.list2 {
  position: relative;
  letter-spacing: 0.3px;
  line-height: 24px;
  flex-shrink: 0;
  z-index: 1;
}
.list2 {
  height: 19px;
  display: inline-block;
  white-space: nowrap;
}
.list-three-container {
  flex-direction: column;
  padding: var(--padding-10xs-5) 0 0;
  font-size: var(--font-size-3xs);
  font-family: var(--heading-h1);
}
.footer-container,
.footer-links1,
.list-three-container,
.list-two-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.list-two-container {
  flex-direction: row;
  font-family: var(--font-jost);
}
.footer-container,
.footer-links1 {
  flex-direction: column;
}
.footer-links1 {
  gap: var(--gap-6xs);
  font-size: var(--egator-text-heading-7-bold-size);
  font-family: var(--heading-h1);
}
.footer-container {
  gap: var(--gap-25xl);
}
.description {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.3px;
  line-height: 24px;
  z-index: 1;
}
.rectangle1 {
  height: 41px;
  width: 286.6px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--mono-grey1);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  display: none;
}
.list3 {
  width: 241.5px;
  border: 0;
  outline: 0;
  font-family: var(--font-jost);
  font-size: var(--egator-text-heading-7-bold-size);
  background-color: transparent;
  height: 24px;
  position: relative;
  letter-spacing: 0.3px;
  line-height: 24px;
  color: var(--color-darkgray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.input-field,
.rectangle2 {
  flex: 1;
  border-radius: var(--br-5xs);
}
.input-field {
  height: 41px;
  background-color: var(--mono-grey1);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-mini);
  flex-shrink: 0;
  z-index: 1;
}
.rectangle2 {
  height: 40px;
  position: relative;
  background-color: var(--color-dodgerblue);
}
.rectangle8px {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button {
  position: absolute;
  top: calc(50% - 12px);
  left: 21.59%;
  font-size: var(--egator-text-heading-7-bold-size);
  letter-spacing: 0.3px;
  line-height: 24px;
  font-family: var(--font-jost);
  color: var(--mono-grey1);
  text-align: center;
  z-index: 1;
}
.buttonsmallstandart {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 40px;
  width: 126px;
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.input-container {
  align-self: stretch;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs-4);
}
.newsletter-container,
.newsletter-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.newsletter-container {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.newsletter-container-wrapper {
  width: 420.5px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-16xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--egator-text-heading-7-bold-size);
  font-family: var(--font-jost);
}
.footer-content1,
.line-icon1 {
  align-self: stretch;
  max-width: 100%;
}
.footer-content1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.line-icon1 {
  height: 17px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.copyright2,
.sub-menu {
  height: 24px;
  position: relative;
  letter-spacing: 0.26px;
  line-height: 16px;
  display: inline-block;
  z-index: 1;
}
.sub-menu {
  width: 556px;
  white-space: pre-wrap;
  flex-shrink: 0;
  max-width: 100%;
}
.copyright2 {
  text-align: right;
}
.copyright1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.footer-info,
.modern-with-newsletter-dark {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.footer-info {
  width: 1264px;
  align-items: flex-end;
  gap: var(--gap-smi);
  font-size: var(--font-size-xs);
  color: var(--color-darkgray-100);
  font-family: var(--font-jost);
}
.modern-with-newsletter-dark {
  align-self: stretch;
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-61xl) var(--padding-90xl) var(--padding-49xl)
    var(--padding-105xl);
  box-sizing: border-box;
  gap: var(--gap-24xl);
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--mono-grey1);
  font-family: var(--font-k2d);
}
@media screen and (max-width: 1225px) {
  .copyright1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .footer-content1 {
    justify-content: center;
  }
}
@media screen and (max-width: 750px) {
  .tagline {
    font-size: var(--font-size-7xl);
    line-height: 38px;
  }
  .modern-with-newsletter-dark {
    gap: var(--gap-2xl);
    padding-left: var(--padding-43xl);
    padding-right: var(--padding-35xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .tagline {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .footer-container {
    gap: var(--gap-3xl);
  }
  .modern-with-newsletter-dark {
    padding: var(--padding-33xl) var(--padding-xl) var(--padding-25xl);
    box-sizing: border-box;
  }
}
