.first-name,
.text {
  position: relative;
  display: inline-block;
}
.first-name {
  line-height: 18px;
  font-weight: 600;
  min-width: 70px;
}
.text {
  width: 87px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-nunito);
  font-size: var(--font-size-xs);
  background-color: transparent;
  height: 14px;
  line-height: 14px;
  color: var(--white-10);
  text-align: left;
  padding: 0;
}
.information-icon {
  height: 20px;
  width: 20px;
  position: relative;
  display: none;
}
.input-box {
  align-self: stretch;
  box-shadow: var(--shadow-xsm);
  border-radius: var(--br-8xs);
  background-color: var(--mono-grey1);
  border: 1px solid var(--neutral-700);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.hint-text {
  width: 360px;
  height: 13px;
  position: relative;
  font-size: var(--font-size-3xs);
  font-family: var(--font-mulish);
  color: var(--gray-50);
  text-align: right;
  display: none;
  max-width: 100%;
}
.input-field2 {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  max-width: 100%;
}
.last-name,
.text1 {
  position: relative;
  display: inline-block;
}
.last-name {
  line-height: 18px;
  font-weight: 600;
  min-width: 69px;
}
.text1 {
  width: 86px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-nunito);
  font-size: var(--font-size-xs);
  background-color: transparent;
  height: 14px;
  line-height: 14px;
  color: var(--white-10);
  text-align: left;
  padding: 0;
}
.information-icon1 {
  height: 20px;
  width: 20px;
  position: relative;
  display: none;
}
.input-box1 {
  align-self: stretch;
  box-shadow: var(--shadow-xsm);
  border-radius: var(--br-8xs);
  background-color: var(--mono-grey1);
  border: 1px solid var(--neutral-700);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.hint-text1 {
  width: 360px;
  height: 13px;
  position: relative;
  font-size: var(--font-size-3xs);
  font-family: var(--font-mulish);
  color: var(--gray-50);
  text-align: right;
  display: none;
  max-width: 100%;
}
.input-field3 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.input-field3,
.location-fields,
.name-fields {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.location-fields {
  width: 400px;
  flex-direction: column;
  justify-content: flex-start;
}
.name-fields {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-200);
  font-family: var(--font-nunito);
}
@media screen and (max-width: 1025px) {
  .name-fields {
    flex-wrap: wrap;
  }
}
